Tools for solidity crashing on installing

### `Tools for solidity` always crashing on any codebase i have tried it on
- the server opens on a different port on every install, runs five times and crashes (on m1 macbook) 
- this is output in the output tab, the lsp server always crashes
~~~ bash
Running 'woke lsp --port 55671'
[Error - 10:48:44] Traceback (most recent call last):
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 1346, in do_open
    h.request(req.get_method(), req.selector, req.data, headers,
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1257, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1303, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1252, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1012, in _send_output
    self.send(msg)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 952, in send
    self.connect()
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1426, in connect
    self.sock = self._context.wrap_socket(self.sock,
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/ssl.py", line 500, in wrap_socket
    return self.sslsocket_class._create(
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/ssl.py", line 1040, in _create
    self.do_handshake()
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/ssl.py", line 1309, in do_handshake
    self._sslobj.do_handshake()
socket.timeout: _ssl.c:1112: The handshake operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/server.py", line 261, in _task_done_callback
    task.result()
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/lsp_compiler.py", line 179, in run
    await self.__compilation_loop()
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/lsp_compiler.py", line 865, in __compilation_loop
    await self.__compile(self.__discovered_files)
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/lsp_compiler.py", line 551, in __compile
    for version in reversed(self.__svm.list_all())
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/svm/svm.py", line 182, in list_all
    self.__fetch_list_file()
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/svm/svm.py", line 247, in __fetch_list_file
    with urllib.request.urlopen(self.__solc_list_url, timeout=0.25) as response:
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 214, in urlopen
    return opener.open(url, data, timeout)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 517, in open
    response = self._open(req, data)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 534, in _open
    result = self._call_chain(self.handle_open, protocol, protocol +
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 494, in _call_chain
    result = func(*args)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 1389, in https_open
    return self.do_open(http.client.HTTPSConnection, req,
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 1349, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error _ssl.c:1112: The handshake operation timed out>

[Info  - 10:48:44] Connection to server got closed. Server will restart.
[Error - 10:48:47] Traceback (most recent call last):
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 1346, in do_open
    h.request(req.get_method(), req.selector, req.data, headers,
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1257, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1303, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1252, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1012, in _send_output
    self.send(msg)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 952, in send
    self.connect()
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1426, in connect
    self.sock = self._context.wrap_socket(self.sock,
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/ssl.py", line 500, in wrap_socket
    return self.sslsocket_class._create(
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/ssl.py", line 1040, in _create
    self.do_handshake()
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/ssl.py", line 1309, in do_handshake
    self._sslobj.do_handshake()
socket.timeout: _ssl.c:1112: The handshake operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/server.py", line 261, in _task_done_callback
    task.result()
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/lsp_compiler.py", line 179, in run
    await self.__compilation_loop()
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/lsp_compiler.py", line 865, in __compilation_loop
    await self.__compile(self.__discovered_files)
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/lsp_compiler.py", line 551, in __compile
    for version in reversed(self.__svm.list_all())
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/svm/svm.py", line 182, in list_all
    self.__fetch_list_file()
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/svm/svm.py", line 247, in __fetch_list_file
    with urllib.request.urlopen(self.__solc_list_url, timeout=0.25) as response:
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 214, in urlopen
    return opener.open(url, data, timeout)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 517, in open
    response = self._open(req, data)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 534, in _open
    result = self._call_chain(self.handle_open, protocol, protocol +
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 494, in _call_chain
    result = func(*args)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 1389, in https_open
    return self.do_open(http.client.HTTPSConnection, req,
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 1349, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error _ssl.c:1112: The handshake operation timed out>

[Info  - 10:48:47] Connection to server got closed. Server will restart.
[Error - 10:48:51] Traceback (most recent call last):
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 1346, in do_open
    h.request(req.get_method(), req.selector, req.data, headers,
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1257, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1303, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1252, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1012, in _send_output
    self.send(msg)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 952, in send
    self.connect()
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1426, in connect
    self.sock = self._context.wrap_socket(self.sock,
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/ssl.py", line 500, in wrap_socket
    return self.sslsocket_class._create(
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/ssl.py", line 1040, in _create
    self.do_handshake()
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/ssl.py", line 1309, in do_handshake
    self._sslobj.do_handshake()
socket.timeout: _ssl.c:1112: The handshake operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/server.py", line 261, in _task_done_callback
    task.result()
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/lsp_compiler.py", line 179, in run
    await self.__compilation_loop()
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/lsp_compiler.py", line 865, in __compilation_loop
    await self.__compile(self.__discovered_files)
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/lsp_compiler.py", line 551, in __compile
    for version in reversed(self.__svm.list_all())
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/svm/svm.py", line 182, in list_all
    self.__fetch_list_file()
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/svm/svm.py", line 247, in __fetch_list_file
    with urllib.request.urlopen(self.__solc_list_url, timeout=0.25) as response:
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 214, in urlopen
    return opener.open(url, data, timeout)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 517, in open
    response = self._open(req, data)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 534, in _open
    result = self._call_chain(self.handle_open, protocol, protocol +
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 494, in _call_chain
    result = func(*args)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 1389, in https_open
    return self.do_open(http.client.HTTPSConnection, req,
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 1349, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error _ssl.c:1112: The handshake operation timed out>

[Info  - 10:48:51] Connection to server got closed. Server will restart.
[Error - 10:48:54] Traceback (most recent call last):
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 1346, in do_open
    h.request(req.get_method(), req.selector, req.data, headers,
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1257, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1303, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1252, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1012, in _send_output
    self.send(msg)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 952, in send
    self.connect()
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1426, in connect
    self.sock = self._context.wrap_socket(self.sock,
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/ssl.py", line 500, in wrap_socket
    return self.sslsocket_class._create(
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/ssl.py", line 1040, in _create
    self.do_handshake()
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/ssl.py", line 1309, in do_handshake
    self._sslobj.do_handshake()
socket.timeout: _ssl.c:1112: The handshake operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/server.py", line 261, in _task_done_callback
    task.result()
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/lsp_compiler.py", line 179, in run
    await self.__compilation_loop()
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/lsp_compiler.py", line 865, in __compilation_loop
    await self.__compile(self.__discovered_files)
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/lsp_compiler.py", line 551, in __compile
    for version in reversed(self.__svm.list_all())
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/svm/svm.py", line 182, in list_all
    self.__fetch_list_file()
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/svm/svm.py", line 247, in __fetch_list_file
    with urllib.request.urlopen(self.__solc_list_url, timeout=0.25) as response:
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 214, in urlopen
    return opener.open(url, data, timeout)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 517, in open
    response = self._open(req, data)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 534, in _open
    result = self._call_chain(self.handle_open, protocol, protocol +
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 494, in _call_chain
    result = func(*args)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 1389, in https_open
    return self.do_open(http.client.HTTPSConnection, req,
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 1349, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error _ssl.c:1112: The handshake operation timed out>

[Info  - 10:48:54] Connection to server got closed. Server will restart.
[Error - 10:48:57] Traceback (most recent call last):
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 1346, in do_open
    h.request(req.get_method(), req.selector, req.data, headers,
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1257, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1303, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1252, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1012, in _send_output
    self.send(msg)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 952, in send
    self.connect()
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/http/client.py", line 1426, in connect
    self.sock = self._context.wrap_socket(self.sock,
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/ssl.py", line 500, in wrap_socket
    return self.sslsocket_class._create(
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/ssl.py", line 1040, in _create
    self.do_handshake()
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/ssl.py", line 1309, in do_handshake
    self._sslobj.do_handshake()
socket.timeout: _ssl.c:1112: The handshake operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/server.py", line 261, in _task_done_callback
    task.result()
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/lsp_compiler.py", line 179, in run
    await self.__compilation_loop()
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/lsp_compiler.py", line 865, in __compilation_loop
    await self.__compile(self.__discovered_files)
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/lsp/lsp_compiler.py", line 551, in __compile
    for version in reversed(self.__svm.list_all())
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/svm/svm.py", line 182, in list_all
    self.__fetch_list_file()
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/woke/svm/svm.py", line 247, in __fetch_list_file
    with urllib.request.urlopen(self.__solc_list_url, timeout=0.25) as response:
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 214, in urlopen
    return opener.open(url, data, timeout)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 517, in open
    response = self._open(req, data)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 534, in _open
    result = self._call_chain(self.handle_open, protocol, protocol +
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 494, in _call_chain
    result = func(*args)
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 1389, in https_open
    return self.do_open(http.client.HTTPSConnection, req,
  File "/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/urllib/request.py", line 1349, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error _ssl.c:1112: The handshake operation timed out>

[Error - 10:48:57] The Tools for Solidity server crashed 5 times in the last 3 minutes. The server will not be restarted. See the output for more information.
~~~



running 
~~~bash
woke lsp --port 54942
~~~
on a fresh terminal doesn't crash, only in the vscode output tab

Hello, thank you for trying our extension!

Seems your system has a problem downloading a Solidity compiler executable (`solc`) that is needed to analyze Solidity sources. The reason may be a bad internet connection or some kind of internet/SSL certificate misconfiguration.

Can you please try to:
- analyze which version of `solc` is needed in your project (based on `solidity pragma`)
- manually install the target version/versions of `solc` using `woke svm install target_version`
    - in a case of a bad connection, a `solc` executable can end up partially downloaded in a non-functional state, in this case, you can use the `-f` flag to force download the target version of `solc`, `woke svm install target_version -f`

after running `woke svm install target_version -f`,
I got the same vscode error
~~~bash
╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/urllib/request.py:1346 in do_open                                                     │
│                                                                                                  │
│   1343 │   │                                                                                     │
│   1344 │   │   try:                                                                              │
│   1345 │   │   │   try:                                                                          │
│ ❱ 1346 │   │   │   │   h.request(req.get_method(), req.selector, req.data, headers,              │
│   1347 │   │   │   │   │   │     encode_chunked=req.has_header('Transfer-encoding'))             │
│   1348 │   │   │   except OSError as err: # timeout error                                        │
│   1349 │   │   │   │   raise URLError(err)                                                       │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/http/client.py:1257 in request                                                        │
│                                                                                                  │
│   1254 │   def request(self, method, url, body=None, headers={}, *,                              │
│   1255 │   │   │   │   encode_chunked=False):                                                    │
│   1256 │   │   """Send a complete request to the server."""                                      │
│ ❱ 1257 │   │   self._send_request(method, url, body, headers, encode_chunked)                    │
│   1258 │                                                                                         │
│   1259 │   def _send_request(self, method, url, body, headers, encode_chunked):                  │
│   1260 │   │   # Honor explicitly requested Host: and Accept-Encoding: headers.                  │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/http/client.py:1303 in _send_request                                                  │
│                                                                                                  │
│   1300 │   │   │   # RFC 2616 Section 3.7.1 says that text default has a                         │
│   1301 │   │   │   # default charset of iso-8859-1.                                              │
│   1302 │   │   │   body = _encode(body, 'body')                                                  │
│ ❱ 1303 │   │   self.endheaders(body, encode_chunked=encode_chunked)                              │
│   1304 │                                                                                         │
│   1305 │   def getresponse(self):                                                                │
│   1306 │   │   """Get the response from the server.                                              │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/http/client.py:1252 in endheaders                                                     │
│                                                                                                  │
│   1249 │   │   │   self.__state = _CS_REQ_SENT                                                   │
│   1250 │   │   else:                                                                             │
│   1251 │   │   │   raise CannotSendHeader()                                                      │
│ ❱ 1252 │   │   self._send_output(message_body, encode_chunked=encode_chunked)                    │
│   1253 │                                                                                         │
│   1254 │   def request(self, method, url, body=None, headers={}, *,                              │
│   1255 │   │   │   │   encode_chunked=False):                                                    │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/http/client.py:1012 in _send_output                                                   │
│                                                                                                  │
│   1009 │   │   self._buffer.extend((b"", b""))                                                   │
│   1010 │   │   msg = b"\r\n".join(self._buffer)                                                  │
│   1011 │   │   del self._buffer[:]                                                               │
│ ❱ 1012 │   │   self.send(msg)                                                                    │
│   1013 │   │                                                                                     │
│   1014 │   │   if message_body is not None:                                                      │
│   1015                                                                                           │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/http/client.py:952 in send                                                            │
│                                                                                                  │
│    949 │   │                                                                                     │
│    950 │   │   if self.sock is None:                                                             │
│    951 │   │   │   if self.auto_open:                                                            │
│ ❱  952 │   │   │   │   self.connect()                                                            │
│    953 │   │   │   else:                                                                         │
│    954 │   │   │   │   raise NotConnected()                                                      │
│    955                                                                                           │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/http/client.py:1426 in connect                                                        │
│                                                                                                  │
│   1423 │   │   │   else:                                                                         │
│   1424 │   │   │   │   server_hostname = self.host                                               │
│   1425 │   │   │                                                                                 │
│ ❱ 1426 │   │   │   self.sock = self._context.wrap_socket(self.sock,                              │
│   1427 │   │   │   │   │   │   │   │   │   │   │   │     server_hostname=server_hostname)        │
│   1428 │                                                                                         │
│   1429 │   __all__.append("HTTPSConnection")                                                     │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/ssl.py:500 in wrap_socket                                                             │
│                                                                                                  │
│    497 │   │   │   │   │   server_hostname=None, session=None):                                  │
│    498 │   │   # SSLSocket class handles server_hostname encoding before it calls                │
│    499 │   │   # ctx._wrap_socket()                                                              │
│ ❱  500 │   │   return self.sslsocket_class._create(                                              │
│    501 │   │   │   sock=sock,                                                                    │
│    502 │   │   │   server_side=server_side,                                                      │
│    503 │   │   │   do_handshake_on_connect=do_handshake_on_connect,                              │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/ssl.py:1040 in _create                                                                │
│                                                                                                  │
│   1037 │   │   │   │   │   if timeout == 0.0:                                                    │
│   1038 │   │   │   │   │   │   # non-blocking                                                    │
│   1039 │   │   │   │   │   │   raise ValueError("do_handshake_on_connect should not be specifie  │
│ ❱ 1040 │   │   │   │   │   self.do_handshake()                                                   │
│   1041 │   │   │   except (OSError, ValueError):                                                 │
│   1042 │   │   │   │   self.close()                                                              │
│   1043 │   │   │   │   raise                                                                     │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/ssl.py:1309 in do_handshake                                                           │
│                                                                                                  │
│   1306 │   │   try:                                                                              │
│   1307 │   │   │   if timeout == 0.0 and block:                                                  │
│   1308 │   │   │   │   self.settimeout(None)                                                     │
│ ❱ 1309 │   │   │   self._sslobj.do_handshake()                                                   │
│   1310 │   │   finally:                                                                          │
│   1311 │   │   │   self.settimeout(timeout)                                                      │
│   1312                                                                                           │
╰──────────────────────────────────────────────────────────────────────────────────────────────────╯
timeout: _ssl.c:1112: The handshake operation timed out

During handling of the above exception, another exception occurred:

╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ /Users/mac/Library/Python/3.9/bin/woke:8 in <module>                                             │
│                                                                                                  │
│   5 from woke.cli.__main__ import main                                                           │
│   6 if __name__ == '__main__':                                                                   │
│   7 │   sys.argv[0] = re.sub(r'(-script\.pyw|\.exe)?$', '', sys.argv[0])                         │
│ ❱ 8 │   sys.exit(main())                                                                         │
│   9                                                                                              │
│                                                                                                  │
│ /Users/mac/Library/Python/3.9/lib/python/site-packages/click/core.py:1130 in __call__            │
│                                                                                                  │
│   1127 │                                                                                         │
│   1128 │   def __call__(self, *args: t.Any, **kwargs: t.Any) -> t.Any:                           │
│   1129 │   │   """Alias for :meth:`main`."""                                                     │
│ ❱ 1130 │   │   return self.main(*args, **kwargs)                                                 │
│   1131                                                                                           │
│   1132                                                                                           │
│   1133 class Command(BaseCommand):                                                               │
│                                                                                                  │
│ /Users/mac/Library/Python/3.9/lib/python/site-packages/rich_click/rich_group.py:21 in main       │
│                                                                                                  │
│ /Users/mac/Library/Python/3.9/lib/python/site-packages/click/core.py:1055 in main                │
│                                                                                                  │
│   1052 │   │   try:                                                                              │
│   1053 │   │   │   try:                                                                          │
│   1054 │   │   │   │   with self.make_context(prog_name, args, **extra) as ctx:                  │
│ ❱ 1055 │   │   │   │   │   rv = self.invoke(ctx)                                                 │
│   1056 │   │   │   │   │   if not standalone_mode:                                               │
│   1057 │   │   │   │   │   │   return rv                                                         │
│   1058 │   │   │   │   │   # it's not safe to `ctx.exit(rv)` here!                               │
│                                                                                                  │
│ /Users/mac/Library/Python/3.9/lib/python/site-packages/click/core.py:1657 in invoke              │
│                                                                                                  │
│   1654 │   │   │   │   super().invoke(ctx)                                                       │
│   1655 │   │   │   │   sub_ctx = cmd.make_context(cmd_name, args, parent=ctx)                    │
│   1656 │   │   │   │   with sub_ctx:                                                             │
│ ❱ 1657 │   │   │   │   │   return _process_result(sub_ctx.command.invoke(sub_ctx))               │
│   1658 │   │                                                                                     │
│   1659 │   │   # In chain mode we create the contexts step by step, but after the                │
│   1660 │   │   # base command has been invoked.  Because at that point we do not                 │
│                                                                                                  │
│ /Users/mac/Library/Python/3.9/lib/python/site-packages/click/core.py:1657 in invoke              │
│                                                                                                  │
│   1654 │   │   │   │   super().invoke(ctx)                                                       │
│   1655 │   │   │   │   sub_ctx = cmd.make_context(cmd_name, args, parent=ctx)                    │
│   1656 │   │   │   │   with sub_ctx:                                                             │
│ ❱ 1657 │   │   │   │   │   return _process_result(sub_ctx.command.invoke(sub_ctx))               │
│   1658 │   │                                                                                     │
│   1659 │   │   # In chain mode we create the contexts step by step, but after the                │
│   1660 │   │   # base command has been invoked.  Because at that point we do not                 │
│                                                                                                  │
│ /Users/mac/Library/Python/3.9/lib/python/site-packages/click/core.py:1404 in invoke              │
│                                                                                                  │
│   1401 │   │   │   echo(style(message, fg="red"), err=True)                                      │
│   1402 │   │                                                                                     │
│   1403 │   │   if self.callback is not None:                                                     │
│ ❱ 1404 │   │   │   return ctx.invoke(self.callback, **ctx.params)                                │
│   1405 │                                                                                         │
│   1406 │   def shell_complete(self, ctx: Context, incomplete: str) -> t.List["CompletionItem"]:  │
│   1407 │   │   """Return a list of completions for the incomplete value. Looks                   │
│                                                                                                  │
│ /Users/mac/Library/Python/3.9/lib/python/site-packages/click/core.py:760 in invoke               │
│                                                                                                  │
│    757 │   │                                                                                     │
│    758 │   │   with augment_usage_errors(__self):                                                │
│    759 │   │   │   with ctx:                                                                     │
│ ❱  760 │   │   │   │   return __callback(*args, **kwargs)                                        │
│    761 │                                                                                         │
│    762 │   def forward(                                                                          │
│    763 │   │   __self, __cmd: "Command", *args: t.Any, **kwargs: t.Any  # noqa: B902             │
│                                                                                                  │
│ /Users/mac/Library/Python/3.9/lib/python/site-packages/click/decorators.py:26 in new_func        │
│                                                                                                  │
│    23 │   """                                                                                    │
│    24 │                                                                                          │
│    25 │   def new_func(*args, **kwargs):  # type: ignore                                         │
│ ❱  26 │   │   return f(get_current_context(), *args, **kwargs)                                   │
│    27 │                                                                                          │
│    28 │   return update_wrapper(t.cast(F, new_func), f)                                          │
│    29                                                                                            │
│                                                                                                  │
│ /Users/mac/Library/Python/3.9/lib/python/site-packages/woke/cli/svm.py:39 in svm_install         │
│                                                                                                  │
│    36 │   svm = SolcVersionManager(config)                                                       │
│    37 │   version_expr = SolidityVersionExpr(" ".join(version_range))                            │
│    38 │                                                                                          │
│ ❱  39 │   asyncio.run(run_solc_install(svm, version_expr, force))                                │
│    40                                                                                            │
│    41                                                                                            │
│    42 async def run_solc_install(                                                                │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/asyncio/runners.py:44 in run                                                          │
│                                                                                                  │
│   41 │   │   events.set_event_loop(loop)                                                         │
│   42 │   │   if debug is not None:                                                               │
│   43 │   │   │   loop.set_debug(debug)                                                           │
│ ❱ 44 │   │   return loop.run_until_complete(main)                                                │
│   45 │   finally:                                                                                │
│   46 │   │   try:                                                                                │
│   47 │   │   │   _cancel_all_tasks(loop)                                                         │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/asyncio/base_events.py:642 in run_until_complete                                      │
│                                                                                                  │
│    639 │   │   if not future.done():                                                             │
│    640 │   │   │   raise RuntimeError('Event loop stopped before Future completed.')             │
│    641 │   │                                                                                     │
│ ❱  642 │   │   return future.result()                                                            │
│    643 │                                                                                         │
│    644 │   def stop(self):                                                                       │
│    645 │   │   """Stop running the event loop.                                                   │
│                                                                                                  │
│ /Users/mac/Library/Python/3.9/lib/python/site-packages/woke/cli/svm.py:46 in run_solc_install    │
│                                                                                                  │
│    43 │   svm: SolcVersionManager, version_expr: SolidityVersionExpr, force: bool                │
│    44 ) -> None:                                                                                 │
│    45 │   version = next(                                                                        │
│ ❱  46 │   │   version for version in reversed(svm.list_all()) if version in version_expr         │
│    47 │   )                                                                                      │
│    48 │   if not force and svm.installed(version):                                               │
│    49 │   │   console.print(f"Version {version} is already installed.")                          │
│                                                                                                  │
│ /Users/mac/Library/Python/3.9/lib/python/site-packages/woke/svm/svm.py:182 in list_all           │
│                                                                                                  │
│   179 │   │   return self.__compilers_path / dirname / filename                                  │
│   180 │                                                                                          │
│   181 │   def list_all(self) -> Tuple[SolidityVersion]:                                          │
│ ❱ 182 │   │   self.__fetch_list_file()                                                           │
│   183 │   │   if self.__solc_builds is None:                                                     │
│   184 │   │   │   raise RuntimeError(                                                            │
│   185 │   │   │   │   f"Unable to fetch or correctly parse '{self.__solc_list_url}'."            │
│                                                                                                  │
│ /Users/mac/Library/Python/3.9/lib/python/site-packages/woke/svm/svm.py:247 in __fetch_list_file  │
│                                                                                                  │
│   244 │   │   │   return                                                                         │
│   245 │   │                                                                                      │
│   246 │   │   try:                                                                               │
│ ❱ 247 │   │   │   with urllib.request.urlopen(self.__solc_list_url, timeout=0.25) as response:   │
│   248 │   │   │   │   json = response.read()                                                     │
│   249 │   │   │   │   self.__solc_builds = SolcBuilds.parse_raw(json)                            │
│   250 │   │   │   │   self.__solc_list_path.write_bytes(json)                                    │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/urllib/request.py:214 in urlopen                                                      │
│                                                                                                  │
│    211 │   │   _opener = opener = build_opener()                                                 │
│    212 │   else:                                                                                 │
│    213 │   │   opener = _opener                                                                  │
│ ❱  214 │   return opener.open(url, data, timeout)                                                │
│    215                                                                                           │
│    216 def install_opener(opener):                                                               │
│    217 │   global _opener                                                                        │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/urllib/request.py:517 in open                                                         │
│                                                                                                  │
│    514 │   │   │   req = meth(req)                                                               │
│    515 │   │                                                                                     │
│    516 │   │   sys.audit('urllib.Request', req.full_url, req.data, req.headers, req.get_method(  │
│ ❱  517 │   │   response = self._open(req, data)                                                  │
│    518 │   │                                                                                     │
│    519 │   │   # post-process response                                                           │
│    520 │   │   meth_name = protocol+"_response"                                                  │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/urllib/request.py:534 in _open                                                        │
│                                                                                                  │
│    531 │   │   │   return result                                                                 │
│    532 │   │                                                                                     │
│    533 │   │   protocol = req.type                                                               │
│ ❱  534 │   │   result = self._call_chain(self.handle_open, protocol, protocol +                  │
│    535 │   │   │   │   │   │   │   │     '_open', req)                                           │
│    536 │   │   if result:                                                                        │
│    537 │   │   │   return result                                                                 │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/urllib/request.py:494 in _call_chain                                                  │
│                                                                                                  │
│    491 │   │   handlers = chain.get(kind, ())                                                    │
│    492 │   │   for handler in handlers:                                                          │
│    493 │   │   │   func = getattr(handler, meth_name)                                            │
│ ❱  494 │   │   │   result = func(*args)                                                          │
│    495 │   │   │   if result is not None:                                                        │
│    496 │   │   │   │   return result                                                             │
│    497                                                                                           │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/urllib/request.py:1389 in https_open                                                  │
│                                                                                                  │
│   1386 │   │   │   self._check_hostname = check_hostname                                         │
│   1387 │   │                                                                                     │
│   1388 │   │   def https_open(self, req):                                                        │
│ ❱ 1389 │   │   │   return self.do_open(http.client.HTTPSConnection, req,                         │
│   1390 │   │   │   │   context=self._context, check_hostname=self._check_hostname)               │
│   1391 │   │                                                                                     │
│   1392 │   │   https_request = AbstractHTTPHandler.do_request_                                   │
│                                                                                                  │
│ /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib │
│ /python3.9/urllib/request.py:1349 in do_open                                                     │
│                                                                                                  │
│   1346 │   │   │   │   h.request(req.get_method(), req.selector, req.data, headers,              │
│   1347 │   │   │   │   │   │     encode_chunked=req.has_header('Transfer-encoding'))             │
│   1348 │   │   │   except OSError as err: # timeout error                                        │
│ ❱ 1349 │   │   │   │   raise URLError(err)                                                       │
│   1350 │   │   │   r = h.getresponse()                                                           │
│   1351 │   │   except:                                                                           │
│   1352 │   │   │   h.close()                                                                     │
╰──────────────────────────────────────────────────────────────────────────────────────────────────╯
URLError: <urlopen error _ssl.c:1112: The handshake operation timed out>
~~~

internet is working fine, speed is very fast (54 mbps/s), dont know anything about ssl, what could be happening 

I seem to be getting the same issue, here is my error:
`URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:997)>`. 

You may need to reconfigure and update your SSL certificates. Assuming you're running MacOS you can run this command:

`/Applications/Python\ 3.10/Install\ Certificates.command` 

That worked for me. 

I see, will consider adding `-k`.

As a workaround, you can:
- download the needed version of solc from https://github.com/ethereum/solc-bin, let's say it is [solc-macosx-amd64-v0.8.19+commit.7dd6d404](https://github.com/ethereum/solc-bin/blob/gh-pages/macosx-amd64/solc-macosx-amd64-v0.8.19%2Bcommit.7dd6d404)
- copy the executable into a directory of the same name as the executable under:
    - `~/.local/share/woke/compilers` on *nix,
    - `%LOCALAPPDATA%\woke\compilers` on Windows,
    - `$XDG_DATA_HOME/woke/compilers` if you have `XDG_DATA_HOME` env variable set
- the final location should be `~/.local/share/woke/compilers/solc-macosx-amd64-v0.8.19+commit.7dd6d404/solc-macosx-amd64-v0.8.19+commit.7dd6d404`
- make sure the file is executable

Whoops, forgot to mention, also please download [list.json](https://github.com/ethereum/solc-bin/blob/gh-pages/macosx-amd64/list.json) for your OS (assuming MacOS) and save it as `~/.local/share/woke/compilers/solc.json`.

Regarding the `URLError: <urlopen error _ssl.c:1112: The handshake operation timed out>` error, from what I found on the internet, it may be a problem in proxy settings.

Nice, seems like it would work, another error just came up, this one ``FileExistsError``

`FileExistsError: [Errno 17] File exists: '/Users/mac/.local/share/woke/compilers/solc-macosx-amd64-v0.8.15+commit.e14f2714'`

I removed `solc-macosx-amd64-v0.8.15+commit.e14f2714` from the compiler lists, seems like it has to download it itself, now it is working, thank @michprev , only thing that remain is that struct hover feature, seems like it is not working, also has foundry support , thanks so so much, that is really really cool 🤙 👌 

The struct hover feature is also working perfectly now, this extension is really a game changer, would make work a lot easier, thanks 